.main-container{
    height: 100vh;
    background-color: bisque;
}

.flag-container{
    height: 250px;
    width: 500px;
    background-color: green;
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
}

.flag-circle{
    width: 130px;
    height: 130px;
    background-color: red;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
}

.flag-handle{
    height: 200px;
    width: 40px;
    background-color: black;
    position: relative;
    top: 40%;
    border-top-right-radius: 30px;
}

.flag-footer{
    height: 50px;
    width: 80px;
    background-color: black;
    position: absolute;
    top:100%;
    left:50%;
    transform: translate(-50%);
}